---
layout: layout
permalink: /vitae/
title: Curriculum Vitae
---
<div class="container">
    <h3>
      <strong><a href="{{ page.url }}">{{ page.title }}</a></strong>
    </h3>
    <section>
        <header><h4>Objetivo</h4></header>
        <article>
        Criar novos e melhores conceitos utilizando padrões de projetos e melhores práticas para o desenvolvimento das aplicações. Trabalhar em conjunto com uma equipe focada em melhores soluções para os aplicativos, independentes da linguagem utilizada e da plataforma que o sistema irá ser utilizado.
        </article>
    </section>
    <section>
        <article>
            <header><h4>Formação Acadêmica</h4></header>
            <ul>
               {% for graduation in site.data.graduations %}
                <li>
                    {% include graduations/{{ graduation.slug }}.md %}
                </li>
                {% endfor %}
            </ul>
        </article>
    </section>
    <section>
        <article>
            <header><h4>Experiência Profissional</h4></header>
            <ul>
                {% for experience in site.data.experiences %}
                    <li>
                        {% include experiences/{{ experience.slug }}.md %}
                    </li>
                {% endfor %}
            </ul>
        </article>
    </section>
</div>