<div class="social">
  <strong>Contact me!</strong>
  <a href="mailto:{{ site.email }}" alt="{{ site.email }}" title="{{ site.email }}"><i class="fa fa-envelope"></i></a>
  <a href="https://github.com/{{ site.github }}" alt="https://github.com/{{ site.github }}" title="github.com/{{ site.github }}"><i class="fa fa-github"></i></a>
  <a href="https://twitter.com/{{ site.twitter }}" alt="@{{ site.twitter }}" title="@{{ site.twitter }}"><i class="fa fa-twitter"></i></a>
  <a href="https://linkedin.com/in/{{ site.linkedin }}" alt="linkedin.com/in/{{ site.linkedin }}" title="linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a>
  <a href="https://www.facebook.com/{{ site.facebook }}" alt="facebook.com/{{ site.facebook }}" title="facebook.com/{{ site.facebook }}"><i class="fa fa-facebook-square"></i></a>
  <a href="https://plus.google.com/+{{ site.googleplus }}" alt="+{{ site.googleplus }}" title="+{{ site.googleplus }}"><i class="fa fa-google-plus-square"></i></a>
</div>