---
layout: layout
permalink: /vitae/
header: 1
link_text: RESUME
title: Curriculum Vitae
lang: en
---

<div class="container">
    <h2 class="text-center">{{ page.title }}</h2>
    <h3>About {{ site.author }}</h3>
    <div class="well well-sm">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-xs-2">
            <img class="img-circle" src="{{ site.baseurl }}/static/img/{{ site.avatar }}" alt="{{ site.author }}'s pic" />
          </div>
          <div class="col-lg-10 col-md-10 col-xs-10 text-left">
            I'm 31 years old.
            Was born in Porto Alegre - Brazil.
            I'm married to Daniela Priscila Lins
            We had two beautiful children Pedro Henrique Lins Vieira and Ana Carolina Lins Vieira.
            I'm envolved with systems development since 2006.
          </div>
        </div>
    </div>
    <h3>Purpose</h3>
    <div class="well well-sm">
        <p>Create new and better concepts with design patterns and best practices for application development. Working together with a team focused on better solution for applications, independent of the language used and the plataforma that the system will be used.</p>
    </div>
    <div class="row">
        <h2>Academic education</h2>
        {% assign graduations = site.graduations | sort: 'url', 'last' %}
        {% for graduation in graduations %}
        <section class="col-lg-4 col-md-6 col-xs-12">
            {{ graduation.output }}
        </section>
        {% endfor %}
    </div>
    <div class="row">
        <h2>Professional Experience</h2>
        {% assign experiences = site.experiences| sort: 'order', 'last' %}
        {% for experience in experiences %}
        <section class="col-md-4">
            {{ experience.output }}
        </section>
        {% endfor %}
    </div>
    <div class="container">
      <h2>Current Skills</h2>
      {% include skills.html %}
    </div>
</div>